:root {
   --font-preferred: max(18px, 1em);
   --h1-font-preferred: max(24px, 10vh, 3.5em); /* H1 does not zoom out due to 10vh! This is intentional; it looks good!!! */
   --h2-font-preferred: max(24px, 2em);

   --font-mobile: max(46px, 1em);
   --h1-font-mobile: max(46px, 10vh, 3.5em);
   --h2-font-mobile: max(46px, 2em);
}

* {
   line-height: 1.5; /* Desired by the self-audit, and this is the easiest way. */
   font-size: inherit; /* I believe this just a good luck charm? Forgive me; I have history! */
   font-family: "Times New Roman", times;
}

html {
   background-color: rgb(90%, 90%, 90%); /* Gray 90 */
}

body {
   font-size: var(--font-preferred);
}

header {
   display: flex;
   flex-direction: row;
   background-color: beige;

   border: 0.5vh solid black;
}



header a img.logo {
   display: block;
   align-self: start;
   border: 0.5vh outset rgb(90, 90, 90);
   height: 19vh;

   position: sticky;
   top: 0;
}

header nav {
   display: flex;
   flex-wrap: wrap;
   align-items: self-end;
   gap: var(--font-preferred);
   margin-left: var(--font-preferred);
}

header a:hover {color: rgb(0, 0, 119);}

/* Default link colors on chrome. They are declared explicity to ensure accessibility. */
header a:link {color: rgb(0, 0, 238);}
header a:visited{color: rgb(85, 26, 139);}

/* This was defaulted to red, but it wouldn't work against the headers beige, so it had to be darkened */
header a:active{color: rgb(170, 0, 0);}



img.hero-image {
   height: 60vh;
   width: 100%;
}

h1 {
   margin: 0;
   text-align: center;
   border: 1vh outset black;
   background-color: beige;
   font-size: var(--h1-font-preferred);
}

section {
   margin-top: 5vh;
   background-color: beige;
   display: grid; /* Make the section's divs beneath one another */

   border: 0.25vw solid black;
   border-bottom: 0.125vw solid black;
}

h2 {
   margin: 0;
   text-align: center;
   border: 1vh outset black;
   font-size: var(--h2-font-preferred);
   text-decoration: underline;
}


div.section-division {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   border-bottom: 0.25vw outset black;
   align-items: flex-start;
}

div.section-division ul {
   display: grid;
   padding: 0;
   margin-top: 0;
   gap: 1em;
   list-style: none; /* Unfortunate, but very fiddly otherwise. I really like my <p> logic for my ul */

   max-width: 100%;
   overflow-wrap: break-word;

   margin-left: 0.25em;
}

div.section-division ul li {
   max-width: 100%;
   overflow-wrap: break-word;
   word-break: break-all;
}

div.section-division ul li p { /* Assumed "Q" paragraph */
   display: list-item;
   list-style-type: disc;
   margin-left: 1em;
}

div.section-division ul li p + p { /* Assumed "A" paragraph */
   margin-left: 1em;
   list-style-type: none;
}

table, th, td {
   border: 0.1vw groove black;
}

div.section-division table {
   align-self: flex-start;
   overflow: hidden;

   margin: auto;
   width: 100%;

   overflow-wrap: break-word;
   word-break: break-all;
   hyphens: auto;
}

div.text {
   flex: 1 0 55%; /* Take up 55% of the flex to allow for an adjacent image, but fill it otherwise. */
   align-self: flex-start;
   overflow: hidden;

   display: flex;
   flex-direction: column;
   margin-left: 0.5vw;
   margin-right: 0.5vw;
}

div.text p {
   max-width: 100%;
   flex: 0 0 auto;
}

div.section-division img {
   /* style.js does set these to other things nearly immediately */
   width: 40vw;
   height: 95vh;

   border: 1vh groove black;
   margin: auto;

   position: static;
   top: 0;
}

footer {
   margin-top: 5vh;
   background-color: beige;
   text-align: center;

   border: 0.5vh solid black;
}

div.canvas-container {
   margin-left: auto;
   display: flex; 
   flex-direction: column;
   justify-content: flex-end;
}

canvas.cardCanvas {
   display: block;
}


/*
   Mobile stuff below!
*/


/* If it is more vertical, than it is mobile. 
   At the very least, for all our purposes it is! I mean; this is needed when my laptop is in such a ratio as well! */
@media(orientation: portrait) {
   body {
      font-size: 48px;
   }

   h1 {
      font-size: var(--h1-font-mobile);
   }

   h2 {
      font-size: var(--h2-font-mobile);
   }


   header a img.logo {
      width: 45vw;
   }

   div.text {
      flex: 1 1 100%;
   }

   div.section-division {
      display: grid;
   }

   div.section-division img {
      height: 80%;
      width: 80%;

      display: block;
      border: 1vh groove black;
      margin: auto;

      object-fit: fill;

      position: static;
      order: 1;
   }

   div.section-division div.text {
      order: 2;
   }

   table {
      table-layout: fixed; 
      width: 100%;
      height: 100%;
   }
}
